<footer class="bg-purple-700 text-white h-16 flex justify-center items-center flex-shrink-0">
    <div class="container text-center">
        <span className="text-lg"> E0 dchahuan- all rights reserved 2021</span>
    </div>
</footer>